body {
    font-family: Arial, sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    color: blue;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
